
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<h4>Đăng nhập</h4>
<br />
@*@Html.Raw(TempData["Redirection"])*@
<div style="color:red;">
    @Html.Raw(TempData["ThongBao"])
    @ViewBag.ThongBao
</div>
@using (Html.BeginForm())
{
    <div id="group-login" class="form-group">
        <div class="form-group" style="position:center;">
            <div class="col-md-10">
                <input name="txtTaiKhoan" type="text" placeholder="Nhập tài khoản" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input name="txtMatKhau" type="password" placeholder="Nhập mật khẩu" class="form-control" />
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="form-inline">
                <div class="col-md-pull-1">
                    <input id="login" type="submit" value="Đăng nhập" class="btn btn-success" />
                </div>

                <div class="col-md-1">
                    @Html.ActionLink("Đăng ký", "DangKy", new { }, htmlAttributes: new { @class = "btn btn-danger" })
                    @*  <input type="submit" value="Đăng ký" class="btn btn-danger" />*@
                </div>
            </div>
            <div class="col-md-10">
                <a href="#" style="font-size: 20px;">Quên mật khẩu?</a>
            </div>
        </div>
    </div>
}

<script>
    @*$("#login").click(function () {
            var elementId = '@TempData["Redirection"]';
        if (elementId != null) {
            alert(elementId);
        }
    });*@
</script>

