
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<main role="main" class="probootstrap-main js-probootstrap-main">
    <h2>Bài tập lớn công nghệ phần mềm - Quản lý bán đồ ăn nhanh</h2>
    <p>Cao Xuân Sơn, Vũ Đình Hiệp, Nguyễn Trung Nguyên</p>
    <p>Lớp: KTPM14</p>
</main>

